@import 'var';

.content-300x250 {
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 250px;
	cursor: pointer;

	#content {
		position: relative;
		display: none;
		height: 100%;
		width: 100%;

		/* CUSTOM CSS */
		.content-wrapper {
			background-size: cover;
			width: 100%;
			height: 100%;
			position: relative;
			background: url('Default.png') left center;
			background-attachment: inherit;

			.head {
				position: absolute;
				z-index: 1;
				top: 2%;
				width: 100%;

				.logo {
					height: 100%;
					width: 100px;
					display: block;
					margin: 0 auto;
				}
			}
			.body {
				position: relative;
				color: white;
				height: 100%;

				.person {
					position: absolute;
					bottom: -5px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					right: -235px;

					img {
						width: 250px;
						height: auto;
					}
				}

				.text-wrapper {
					z-index: 10;
					position: absolute;
					display: block;
					top: 45%;
					width: 300px;
					text-align: center;
					text-transform: uppercase;
					font-size: 29px;
					font-family: 'PolitieSans-BoldItalic', Sans-Serif, serif;
					white-space: nowrap;
					-webkit-font-smoothing: antialiased; /* Chrome, Safari */
					-moz-osx-font-smoothing: grayscale; /* Firefox */

					.yellow {
						color: #e6f73d;
					}
					.slide-one {
						position: relative;

						.text-one {
							margin: 0 auto;
							display: table;
							position: relative;
							top: 5px;
							left: -310px;
							text-shadow: 2px 2px 5px #000000;
							font-family: 'PolitieSans-BoldItalic', Sans-Serif, serif;
						}

						.text-two {
							margin: 0 auto;
							position: relative;
							display: table;
							top: 0;
							right: -310px;
							text-shadow: 2px 2px 5px #000000;
							font-family: 'PolitieSans-BoldItalic', Sans-Serif, serif;
						}
					}
					.slide-two {
						position: absolute;
						width: 100%;
						top: 0%;

						.text-one {
							margin: 0 auto;
							display: table;
							position: relative;
							top: 5px;
							left: 310px;
							text-shadow: 2px 2px 5px #000000;
							font-family: 'PolitieSans-BoldItalic', Sans-Serif, serif ;
						}

						.text-two {
							margin: 0 auto;
							display: table;
							position: relative;
							top: 0;
							right: 310px;
							text-shadow: 2px 2px 5px #000000;
							font-family: 'PolitieSans-BoldItalic', Sans-Serif, serif;
						}
					}
				}
				.button {
					position: absolute;
					left: 50%;
					transform: translate(-50%, -50%);
					top: 80%;
					z-index: 11;
					border: 1.3px solid #e6f73d;
					border-radius: 2px;
					padding: 5px 10px 5px 10px;
					color: #e6f73d;
					margin: 0 auto;
					display: block;

					.cta {
						text-transform: uppercase;
						font-family: "PolitieSans-Regular", Sans-Serif, serif;
						font-size: 14px;
						-webkit-font-smoothing: antialiased; /* Chrome, Safari */
						-moz-osx-font-smoothing: grayscale; /* Firefox */
						display: block;
						position: relative;
						left: 0px;
						top: 0px;
					}
				}
			}
			.footer {
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: 65px;
				display: flex;
				justify-content: center;
				color: white;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+81,000000+99,000000+100,000000+100&0+0,0.62+42 */
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 42%, rgba(0,0,0,0.62) 81%, rgba(0,0,0,0.62) 99%, rgba(0,0,0,0.62) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.62) 42%,rgba(0,0,0,0.62) 81%,rgba(0,0,0,0.62) 99%,rgba(0,0,0,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.62) 42%,rgba(0,0,0,0.62) 81%,rgba(0,0,0,0.62) 99%,rgba(0,0,0,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 ); /* IE6-9 */

				.text-wrapper {
					position: absolute;
					left: 0px;
					width: 100%;
					bottom: 8px;

					#footer-copy {
						text-align: center;
						text-transform: uppercase;
						font-family: "PolitieSans-Regular", serif;
						font-size: 10px;
						display: block;
						-webkit-font-smoothing: antialiased; /* Chrome, Safari */
						-moz-osx-font-smoothing: grayscale; /* Firefox */

						> span {
							font-weight: bold;
							-webkit-font-smoothing: antialiased; /* Chrome, Safari */
							-moz-osx-font-smoothing: grayscale; /* Firefox */
						}
					}
				}
			}
		}

		.content-wrapper:before{
			content: " ";
			left: 0;
			top: 0;
			display: inline-block;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.2);
			position: absolute;
		}
	}
}
